html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header {
  height: 40px;
  padding: 10px 8%;
  line-height: 40px;
}
header img {
  margin-top: -10px;
}
@media screen and (max-width: 480px) {
  header {
    height: 30px;
    padding: 10px 3%;
    line-height: 30px;
  }
  header img {
    margin-top: -15px;
  }
}

footer {
  margin-top: 50px;
  height: 100px;
  padding: 10px 8%;
  line-height: 150px;
  text-align: center;
  background-color: #DDD;
}
@media screen and (max-width: 480px) {
  footer {
    margin-top: 25px;
  }
}

.image-content {
  height: 450px;
  background-image: url("top.png");
  background-size: cover;
  padding: 10px 8%;
}
.sub-title {
  margin-top: 120px;
  font-size: 40px;
  color: #96c3ec;
  text-shadow: 1px 1px 2px #505152, 0 0 1em #96c3ec, 0 0 0.2em #96c3ec;
}
.title {
  font-size: 50px;
  font-weight: bold;
  color: #96c3ec;
  text-shadow: 1px 1px 2px #505152, 0 0 1em #96c3ec, 0 0 0.2em #96c3ec;
}
@media screen and (max-width: 480px) {
  .image-content {
    height: 250px;
    padding: 10px 8%;
  }
  .sub-title {
    margin-top: 90px;
    font-size: 15px;
  }
  .title {
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
  }
}


h2 {
  font-size: 30px;
}
.content {
  padding: 10px 8%;
}
.support {
  text-align: center;
  border: 2px solid #9EADBA;
  margin-top: 20px;
}
.support-content {
  height: 250px;
  padding: 70px 8%;
  border: 1px solid #9EADBA;
  margin: 50px;
}
.support-category {
  font-size: 25px;
  font-weight: bold;
}
.support-text {
  margin-top: 40px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 18px;
  }
  .support {
    margin-top: 10px;
  }
  .content {
    padding: 10px 1%;
  }
  .support-content {
    height: 130px;
    padding: 20px 8%;
    margin: 20px;
  }
  .support-category {
    font-size: 13px;
    font-weight: bold;
  }
  .support-text {
    margin-top: 20px;
    line-height: 25px;
    font-size: 10px;
    font-weight: bold;
  }
}

h2 {
  font-size: 30px;
}
.content {
  padding: 10px 8%;
}
.job-example {
  text-align: center;
  border: 2px solid #9EADBA;
  margin-top: 40px;
}
.example-content {
  height: 500px;
  border: 1px solid #9EADBA;
  margin: 50px auto;
  width: 70%;
}
.example-title {
  height: 70px;
  line-height: 70px;
  font-weight: bold;
  font-size: 25px;
  background-color: #96c3ec;
  border-bottom: 1px solid #9EADBA;
}
.catchphrase {
  margin-top: 60px;
  font-weight: bold;
  font-size: 35px;
}
.job {
  margin-top: 100px;
  font-size: 30px;
  font-weight: bold;
}
.salary {
  font-size: 90px;
  padding: 30px;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 18px;
  }
  .content {
    padding: 10px 1%;
  }
  .job-example {
    margin-top: 10px;
  }
  .example-content {
    height: 300px;
    margin: 20px auto;
    width: 90%;
  }
  .example-title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
  .catchphrase {
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
  }
  .job {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
  }
  .salary {
    font-size: 50px;
    padding: 20px;
  }
}


h2 {
  font-size: 30px;
}
.content {
  padding: 10px 8%;
}
.private-job {
  text-align: center;
  border: 2px solid #9EADBA;
  margin-top: 40px;
}
.private-job-content {
  text-align: left;
  margin: 50px auto;
  line-height: 50px;
  font-size: 22px;
  width: 80%;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 18px;
  }
  .content {
    padding: 10px 1%;
  }
  .private-job {
    margin-top: 10px;
  }
  .private-job-content {
    margin: 30px auto;
    line-height: 38px;
    font-size: 15px;
    width: 80%;
  }
}


h2 {
  font-size: 30px;
}
.content {
  padding: 10px 8%;
}
.about {
  text-align: center;
  border: 2px solid #9EADBA;
  margin-top: 40px;
}
.about-content {
  text-align: left;
  margin: 50px auto;
  line-height: 50px;
  font-size: 22px;
  width: 80%;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 18px;
  }
  .content {
    padding: 10px 1%;
  }
  .about {
    margin-top: 10px;
  }
  .about-content {
    margin: 30px auto;
    line-height: 38px;
    font-size: 15px;
    width: 80%;
  }
}
}